/* Общие стили для всего документа */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Стиль контейнера для центровки и отступов */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили заголовка */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Стили формы */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

/* Контейнер для поля с паролем и кнопкой глаза */
.password-container {
    position: relative;
}

.password-container input {
    width: 90%;
}

/* Кнопка для отображения/скрытия пароля */
.toggle-password {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-75%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #666;
    padding: 0;
}

form button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Стили футера */
footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
